* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}


.container {
    min-height: 100svh;
    display: grid;
    grid-template-columns: minmax(220px, 1fr) minmax(0, 5fr);
    grid-template-rows: 1fr 4fr;
}

.side-bar {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
}

.header {
    background-color: #ffffff;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content-area {
    background-color: #e1e8f0;
}

.side-bar-items {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto 30px repeat(6, auto) 30px repeat(3, auto) ;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.side-bar-items svg.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.side-bar-items > svg:not(.logo) {
    height: 35px;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
}

p.logo {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
    margin-top: 25px;
}

.side-bar-items > p:not(.logo) {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
}

/* Side-bar items */
.second-row {
    grid-row-start: 3;
    grid-row-end: 4;
}

.third-row {
    grid-row-start: 4;
    grid-row-end: 5;
}

.fourth-row {
    grid-row-start: 5;
    grid-row-end: 6;
}

.fifth-row {
    grid-row-start: 6;
    grid-row-end: 7;
}

.sixth-row {
    grid-row-start: 7;
    grid-row-end: 8;
}

.seventh-row {
    grid-row-start: 8;
    grid-row-end: 9;
}

.eigth-row {
    grid-row-start: 10;
    grid-row-end: 11;
}

.ninth-row {
    grid-row-start: 11;
    grid-row-end: 12;
}

.tenth-row {
    grid-row-start: 12;
    grid-row-end: 13;
}

/* Header stuff */
.search {
    padding-right: 40px;
    padding-left: 40px;
    /* padding-top: 25px; */
    column-gap: 30px;
    display: grid;
    grid-template-columns: auto minmax(500px, 1fr) auto;
    align-items: center;
}

.search-bar {
    background-color: rgb(212, 212, 212);
    width: 500px;
    height: 35px;
    border-radius: 20px;
}

.pfp {
    border-radius: 50%;
}

.search-right-side > p {
    font-weight: 700;
    font-size: 1.3rem;
}

.search-right-side {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-info {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 40px;
    padding-right: 40px;
}

.handle p:nth-child(2) {
    font-weight: 700;
    font-size: 1.2rem;
    grid-column-start: 2;
    margin-top: auto;
}

.handle p:nth-child(3) {
    font-weight: 700;
    font-size: 1.6rem;
    grid-column-start: 2;
}

.handle > img {
    grid-row-start: 1;
    grid-row-end: 3;
}

.handle {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
}

.action-buttons {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 20px;
}

.action-buttons > button {
    height: 60px;
    width: 150px;
    background-color: #1992d4;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

/* Content area */
.content-area {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(250px, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}

.cards {
    min-width: 0;
    grid-row: 1 / 3;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
}

.card {
    display: grid;
    /* height: minmax(250px, 1fr);
    width: minmax(350px, 1fr); */
    /* height: 250px;
    width: 350px; */
    background-color: #ffffff;
}