* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}

.container {
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.side-bar {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
}

.header {
    background-color: #ffffff;
    grid-column: 2;
}

.content-area {
    background-color: #e1e8f0;
}

.side-bar-items {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto 30px repeat(6, auto) 30px repeat(3, auto) ;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.side-bar-items svg.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.side-bar-items > svg:not(.logo) {
    height: 35px;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
}

p.logo {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
    margin-top: 25px;
}

.side-bar-items > p:not(.logo) {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
}

/* Side-bar items */
.second-row {
    grid-row-start: 3;
    grid-row-end: 4;
}

.third-row {
    grid-row-start: 4;
    grid-row-end: 5;
}

.fourth-row {
    grid-row-start: 5;
    grid-row-end: 6;
}

.fifth-row {
    grid-row-start: 6;
    grid-row-end: 7;
}

.sixth-row {
    grid-row-start: 7;
    grid-row-end: 8;
}

.seventh-row {
    grid-row-start: 8;
    grid-row-end: 9;
}

.eigth-row {
    grid-row-start: 10;
    grid-row-end: 11;
}

.ninth-row {
    grid-row-start: 11;
    grid-row-end: 12;
}

.tenth-row {
    grid-row-start: 12;
    grid-row-end: 13;
}